nav
    ul 
        li
            a(href="http://localhost:5000/") /
        li
            a(href="http://localhost:5000/search") /search
        li
            a(href="http://localhost:5000/join") /join
        li
            a(href="http://localhost:5000/login") /login
        li
            a(href="http://localhost:5000/user/edit") /edit
        li
            a(href="http://localhost:5000/user/remove") /remove
        li
            a(href="http://localhost:5000/video/watch") /watch
        li
            a(href="http://localhost:5000/video/trending") /trending
        li
            a(href="http://localhost:5000/video/watch") /watch
        li
            a(href="http://localhost:5000/video/edit") /edit
        li
            a(href="http://localhost:5000/video/remove") /remove
        li
            